@charset "utf-8";
/* CSS Document */

img {
	border:none;
	-ms-interpolation-mode:bicubic;
	height: auto;
	max-width: 100%;
	outline:none;
}
@media only screen and (min-width: 981px) and (max-width:1100px) {
.header, .banner, .lottories, .container, .container_botm, .footer {
 width: 98%;
 padding: 0px;
}
 .lottories ul li {
 margin: 0 0 0;
}
.container ul.containerul li {
 margin: 0 1% 2%;
 padding: 1% 1% 2%;
 width: 29%;
}
#blog {
 margin: 0;
 min-height: 360px;
}
.banner_bg {
 padding:  7% 0;
}


}
 @media only screen and (min-width: 768px) and (max-width: 981px) {
.header, .banner, .lottories, .container, .container_botm, .footer {
 width: 98%;
 padding: 0px;
}
 .lottories ul li {
 margin: 0 0 0;
}
 .container ul.containerul li {
 margin: 0 1% 2%;
 padding: 1% 1% 2%;
 width: 46%;
}
 .applyto3 {
display:none;
}
 .applyto2 {
display:block;
clear:both;
}
#blog {
 margin: 0;
 min-height: 360px;
}
.form_layout .submit {
 cursor: pointer;
 background-color: transparent;
 background-image: url("images/play_now.png");
 background-position: left top;
 background-repeat: no-repeat;
 border: medium none;
 height: 40px;
 width: 100%;
 background-size: contain;
}
.promotions {
 background-size: inherit;
 margin: 10px 0 13px;
 padding: 10px;
 background-image: url("images/line1.png");
 background-position: center bottom;
 background-repeat: no-repeat;
}
.about_text {
 color: #000000;
 font-size: 12px;
 line-height: normal;
 min-height: 180px;
}
#help {
 background-color: #f7a904;
 padding: 1% 1% 6px;
 width: 46%;
}
.banner_bg {
 width: 90%;
 padding: 10% 5%;
}
 .new_left_container .new_text_container h1 {
font-family:'Oswald-DemiBold';
margin: 20px 0px;
font-style: italic;
font-size: 22px;
color: #333333;
 display: block;
vertical-align: middle;
}
 .left_div_new, .right_div_new {
float:none;
width:98%;
margin:0px auto;
display:block;
clear:both;
margin-bottom:20px;
}
.container .new_right_container ul.sidebar_ul li#top {
background-image:none;
}
.container .new_right_container ul.sidebar_ul li#top .top {
margin-top:0px;
}
.new_right_container ul.sidebar_ul li {
margin-bottom:5px;
}
 .tabvideo {
width:100%;
height:300px;
}
 .play_now {
 width: 30%;
}
 .top_img{ width:33%;}
 
 
  table.newtable_big {
 border: 0;
}
 table.newtable_big thead {
 display: none;
}
 table.newtable_big tr {
 display: block;
 border-bottom:0;
}
 table.newtable_big td {
 display: block;
 text-align: right; 
 font-size: 13px;
 border-bottom: 1px dotted #ccc;
}
 table.newtable_big td:last-child {
 border-bottom: 0;
}
 table.newtable_big td:before {
 content: attr(data-label);
 float: left;
 text-transform: uppercase;
 font-weight: bold;
}

}
 @media only screen and (min-width: 640px) and (max-width: 768px) {
.header, .banner, .lottories, .container, .container_botm, .footer {
 width: 98%;
 padding: 0px;
}
 .lottories ul li {
width: 33%;
 margin: 0 0 0;
}
 .container ul.containerul li {
 margin: 0 1% 2%;
 padding: 1% 1% 2%;
 width: 46%;
}
 .applyto3 {
display:none;
}
 .applyto2 {
display:block;
clear:both;
}
#blog {
 margin: 0;
 min-height: 360px;
}
.form_layout .submit {
 cursor: pointer;
 background-color: transparent;
 background-image: url("images/play_now.png");
 background-position: left top;
 background-repeat: no-repeat;
 border: medium none;
 height: 40px;
 width: 100%;
 background-size: contain;
}
.promotions {
 background-size: inherit;
 margin: 10px 0 13px;
 padding: 10px;
 background-image: url("images/line1.png");
 background-position: center bottom;
 background-repeat: no-repeat;
}
.about_text {
 color: #000000;
 font-size: 12px;
 line-height: normal;
 min-height: 180px;
}
#help {
 background-color: #f7a904;
 padding: 1% 1% 6px;
 width: 46%;
}
.banner_bg {
 width: 90%;
 padding: 10% 5%;
}
 .mobile_header {
 display:block;
}
.web {
display:none;
}
.spacer_top {
display:none;
}
 .mobile_header .logo {
 margin: 0;
 padding: 14px 0;
 text-align: left;
 display: inline-block;
 float: left;
}
.mobile_header .header_right_top {
 float: left;
 margin: 20px auto 0px;
 text-align: center;
 padding: 0 0 20px;
 width: 100%;
}
.mobile_header .search_form {
 display: block;
 border: 2px solid #FFFFFF;
 background-color: #000;
 border-radius: 30px;
 height: 16px;
 padding: 5px 10px 13px;
}
 .mobile_header .search_field {
 font-family: 'Oswald-Regular';
 background-color: transparent;
 border: none;
 color: #fff;
 font-size: 16px;
 width: 93%;
}
 .new_left_container, .new_right_container {
float:none;
width:98%;
margin:20px auto;
}
 .new_left_container .new_text_container h1 img {
text-align:center!important;
display:block;
clear:both;
}
 .left_div_new, .right_div_new {
float:none;
width:98%;
margin:0px auto;
display:block;
clear:both;
margin-bottom:20px;
}
 .container .new_right_container ul.sidebar_ul li#top {
background-image:none;
}
.container .new_right_container ul.sidebar_ul li#top .top {
margin-top:0px;
}
.new_right_container ul.sidebar_ul li {
margin-bottom:5px;
}
 .tabvideo {
width:100%;
height:400px;
}
 .play_now {
 width: 30%;
max-width:86px;
}

 .stars{ float:none;}
 .top_review{ width:40%;}
 
  table.newtable_big {
 border: 0;
}
 table.newtable_big thead {
 display: none;
}
 table.newtable_big tr {
 display: block;
 border-bottom:0;
}
 table.newtable_big td {
 display: block;
 text-align: right; 
 font-size: 13px;
 border-bottom: 1px dotted #ccc;
}
 table.newtable_big td:last-child {
 border-bottom: 0;
}
 table.newtable_big td:before {
 content: attr(data-label);
 float: left;
 text-transform: uppercase;
 font-weight: bold;
}


}
 @media only screen and (min-width: 480px) and (max-width: 640px) {
 .banner, .lottories, .container, .container_botm, .footer {
 width: 98%;
 padding: 0px;
}
 .header {
 width: 90%;
 padding: 0px;
}
 .lottories ul li {
width: 33%;
 margin: 0 0 0;
}
 .container ul.containerul li {
 margin: 0 1% 2%;
 padding: 1% 3% 2%;
 width: 92%;
}
#blog {
 margin: 0;
 min-height: 360px;
}
.form_layout .submit {
 cursor: pointer;
 background-color: transparent;
 background-image: url("images/play_now.png");
 background-position: left top;
 background-repeat: no-repeat;
 border: medium none;
 height: 40px;
 width: 100%;
 background-size: contain;
}
.promotions {
 background-size: inherit;
 margin: 10px 0 13px;
 padding: 10px;
 background-image: url("images/line1.png");
 background-position: center bottom;
 background-repeat: no-repeat;
}
.about_text {
color: #000000;
 font-size: 12px;
 line-height: normal;
 min-height: initial;
}
#help {
 background-color: #f7a904;
 padding: 1% 4%;
 width: 90%;
}
.logo {
 float: none;
 margin: 0;
 padding: 14px 0;
 text-align: center;
}
.header_right_top {
 float: none;
 margin: 20px auto 0px;
 text-align: center;
 padding: 0 0 20px;
}
 #top {
 background-color: #f9f9f9;
 background-image: none;
}
.top {
 display: block;
 float: left;
 margin: auto;
 width: 100%;
}
.container ul li:nth-child(4) {
/*display:none;*/
}
.footer ul li {
 float: left;
 list-style-type: none;
 margin: 0 2% 0 0;
 width: 24%;
 display: none;
}
.footer ul li:nth-child(4) {
 color: #fff;
 width: 96%;
 text-align: center;
display: block;
}
.footer ul li strong {
 font-size: 24px;
 color: #eaeaea;
 text-transform: uppercase;
}
.footer ul li:nth-child(4) p {
 color: #777777;
 font-size: 17px;
 line-height: 21px;
}
.newsletters_input {
 background-color: transparent;
 border: 1px solid #929292;
 border-radius: 6px;
 color: #fff;
 height: 40px;
 padding: 0 5%;
 margin: 10px 0 20px;
 width: 90%;
}
.newsletters_submit {
 background-color: #f7a904;
 background-image: url("images/submit.png");
 background-position: center center;
 background-repeat: no-repeat;
 border: medium none;
 cursor: pointer;
 height: 40px;
 width: 100%;
}
.lottories_bg {
 padding: 24px 0px 40px;
 margin: 50px 0 0;
}
.banner_bg {
display:none;
 width: 90%;
 padding: 20% 5%;
 background-image: url(images/banner.jpg);
 background-repeat: no-repeat;
 background-position: center center;
}
.top_review {
 float: left;
 margin: 0 5%;
 width: 55%;
}
 .banner h1 {
 font-size:63px;
}
.banner h2 {
 font-size: 28px;
}
.get {
 font-size: 16px;
}
 .mobile_header {
 display:block;
}
 .spacer_top {
display:none;
}
.web {
display:none;
}
 .mobile_header .logo {
 margin: 0;
 padding: 14px 0;
 text-align: left;
 display: inline-block;
 float: left;
}
.mobile_header .header_right_top {
 float: left;
 margin: 20px auto 0px;
 text-align: center;
 padding: 0 0 20px;
 width: 100%;
}
.mobile_header .search_form {
 display: block;
 border: 2px solid #FFFFFF;
 background-color: #000;
 border-radius: 30px;
 height: 16px;
 padding: 5px 10px 13px;
}
 .mobile_header .search_field {
 font-family: 'Oswald-Regular';
 background-color: transparent;
 border: none;
 color: #fff;
 font-size: 16px;
 width: 93%;
}
 .new_left_container, .new_right_container {
float:none;
width:98%;
margin:20px auto;
}
.new_left_container .new_text_container h1 {
text-align:center;
line-height: 46px;
}
.new_left_container .new_text_container h1 img {
text-align:center!important;
display:block;
clear:both;
}
 .left_div_new, .right_div_new {
float:none;
width:98%;
margin:0px auto;
display:block;
clear:both;
margin-bottom:20px;
}
 .container .new_right_container ul.sidebar_ul li#top {
background-image:none;
}
.container .new_right_container ul.sidebar_ul li#top .top {
margin-top:0px;
}
.new_right_container ul.sidebar_ul li {
margin-bottom:5px;
}
 .tabvideo {
width:100%;
height:400px;
}
.tab-holder .tabs li {
float:none;
display:block;
clear:both;
background:url(images/grey_title_bg.png) repeat-x!important;
text-align:left;
}
.tab-holder .tabs li a, .shortcode-tabs .tab-hold .tabs li a {
text-align:left;
}

 .play_now {
 width: 30%;
max-width:86px;
}

 .stars{ float:none;}
 .top_review{ width:35%;}


 
  table.newtable_big {
 border: 0;
}
 table.newtable_big thead {
 display: none;
}
 table.newtable_big tr {
 display: block;
 border-bottom:0;
}
 table.newtable_big td {
 display: block;
 text-align: right; 
 font-size: 13px;
 border-bottom: 1px dotted #ccc;
}
 table.newtable_big td:last-child {
 border-bottom: 0;
}
 table.newtable_big td:before {
 content: attr(data-label);
 float: left;
 text-transform: uppercase;
 font-weight: bold;
}


}
 @media only screen and (min-width: 220px) and (max-width: 480px) {
 .banner, .lottories, .container, .container_botm, .footer {
 width: 98%;
 padding: 0px;
}
.header {
 width: 90%;
 padding: 0px;
}
 .lottories ul li {
 width: 50%;
 margin: 0 0 0;
 min-height: 258px;
}
 .container ul.containerul li {
 margin: 0 1% 2%;
 padding: 1% 3% 2%;
 width: 92%;
}
#blog {
 margin: 0;
 min-height: 360px;
}
.form_layout .submit {
 cursor: pointer;
 background-color: transparent;
 background-image: url("images/play_now.png");
 background-position: left top;
 background-repeat: no-repeat;
 border: medium none;
 height: 40px;
 width: 100%;
 background-size: contain;
}
.promotions {
 background-size: inherit;
 margin: 10px 0 13px;
 padding: 10px;
 background-image: url("images/line1.png");
 background-position: center bottom;
 background-repeat: no-repeat;
}
.about_text {
color: #000000;
 font-size: 12px;
 line-height: normal;
 min-height: initial;
}
#help {
 background-color: #f7a904;
 padding: 1% 4%;
 width: 90%;
}
.logo {
 float: none;
 margin: 0;
 padding: 14px 0;
 text-align: center;
}
.header_right_top {
 float: none;
 margin: 20px auto 0px;
 text-align: center;
 padding: 0 0 20px;
}
 #top {
 background-color: #f9f9f9;
 background-image: none;
}
.top {
 display: block;
 float: left;
 margin: auto;
 width: 100%;
}
.container ul li:nth-child(4) {
/*display:none;*/
}
.footer ul li {
 float: left;
 list-style-type: none;
 margin: 0 2% 0 0;
 width: 24%;
 display: none;
}
.footer ul li:nth-child(4) {
 color: #fff;
 width: 96%;
 text-align: center;
display: block;
}
.footer ul li strong {
 font-size: 24px;
 color: #eaeaea;
 text-transform: uppercase;
}
.footer ul li:nth-child(4) p {
 color: #777777;
 font-size: 17px;
 line-height: 21px;
}
.newsletters_input {
 background-color: transparent;
 border: 1px solid #929292;
 border-radius: 6px;
 color: #fff;
 height: 40px;
 padding: 0 5%;
 margin: 10px 0 20px;
 width: 90%;
}
.newsletters_submit {
 background-color: #f7a904;
 background-image: url("images/submit.png");
 background-position: center center;
 background-repeat: no-repeat;
 border: medium none;
 cursor: pointer;
 height: 40px;
 width: 100%;
}
.banner_bg {
text-align:center;
 width: 90%;
 padding: 30% 5% 10%;
 background-image: url(images/banner.jpg);
 background-repeat: no-repeat;
 background-position: center center;
}
 .banner h1 {
 font-size:33px;
}
.banner h2 {
 font-size: 20px;
}
.get {
 font-size: 16px;
}
.top_img {
 float: none;
 display: block;
 text-align: center; width:100%;
}
.top_img img {
 height: inherit;
}
.top_review {
 float: none;
 margin: 0 auto;
 text-align: center;
}
.top_review a {
 display: block;
}
.stars {
 float: none;
 display: block;
}
.play_now {
 float: none;
 display: block;
 text-align: center;
 margin: 10px auto;
}
.banner_bg {

}
.spacer_top {
display:none;
}
.mobile_header {
 display:block;
}
.web {
display:none;
}
 .mobile_header .logo {
 margin: 0;
 padding: 14px 0;
 text-align: left;
 display: inline-block;
 float: left;
}
.mobile_header .header_right_top {
 float: left;
 margin: 20px auto 0px;
 text-align: center;
 padding: 0 0 20px;
 width: 100%;
}
.mobile_header .search_form {
 display: block;
 border: 2px solid #FFFFFF;
 background-color: #000;
 border-radius: 30px;
 height: 16px;
 padding: 5px 10px 13px;
}
 .mobile_header .search_field {
 font-family: 'Oswald-Regular';
 background-color: transparent;
 border: none;
 color: #fff;
 font-size: 16px;
 width: 87%;
}
 .new_left_container, .new_right_container {
float:none;
width:98%;
margin:20px auto;
}
.new_left_container .new_text_container h1 {
text-align:center;
line-height: 46px;
}
.new_left_container .new_text_container h1 img {
text-align:center!important;
display:block;
clear:both;
}
/*.lottery_table_new{ border:2px solid #333!important; }
.lottery_table_new   th{ display:none!important;}
.lottery_table_new tr:nth-child(2)  td:first-child { border-top:2px solid #333; }
.lottery_table_new td { clear:both!important; width:97%!important; display:block!important; text-align:center!important;
}
*/.lottery_table_new a.lot_main_image {
display:block;
text-align:center;
}
.lottery_table_new a.lot_main_image img {
margin:0px auto;
}
.lottery_table_new .bonus strong {
text-align:center;
}
 table.newtable {
 border: 0;
}
 table.newtable thead {
 display: none;
}
 table.newtable tr {
 display: block;
 border-bottom:0;
}
 table.newtable td {
 display: block;
 text-align: right;
 font-size: 13px;
 border-bottom: 1px dotted #ccc;
}
 table.newtable td:last-child {
 border-bottom: 0;
}
 table.newtable td:before {
 content: attr(data-label);
 float: left;
 text-transform: uppercase;
 font-weight: bold;
}
 table.newtable td .rating_circle {
float:right;
margin:0px;
}
 table.newtable td span, table.newtable .bonus strong {
text-align:right;
display:block;
}
 .left_div_new, .right_div_new {
float:none;
width:98%;
margin:0px auto;
display:block;
clear:both;
margin-bottom:20px;
}
.container .new_right_container ul.sidebar_ul li#top {
background-image:none;
}
.container .new_right_container ul.sidebar_ul li#top .top {
margin-top:0px;
}
.new_right_container ul.sidebar_ul li {
margin-bottom:5px;
}
 .three_boxes {
 display: block;
 width: 98%;
 color: #727272;
 margin-left: auto!important;
margin-right: auto!important;
 background: #fff;
margin-bottom:10px;
margin-top:10px;
}
 .tab-holder .tabs li {
float:none;
display:block;
clear:both;
background:url(images/grey_title_bg.png) repeat-x!important;
text-align:left;
}
.tab-holder .tabs li a, .shortcode-tabs .tab-hold .tabs li a {
text-align:left;
}
 .tabvideo {
width:100%;
height:200px;
}
 table.lot_table td {
padding:10px 3px;
text-align:center;
vertical-align:top;
}
 table.lot_table img {
display:block;
clear:both;
margin:0px auto 10px auto;
}
 table.lot_table tr {
border-bottom:1px dotted #ccc;
}
}
 @media only screen and (max-width: 320px) {
 .banner, .lottories, .container, .container_botm, .footer {
 width: 98%;
 padding: 0px;
}
.header {
 width: 90%;
 padding: 0px;
}
 .lottories ul li {
 width: 50%;
 margin: 0 0 0;
 min-height: 258px;
}
 .container ul.containerul li {
 margin: 0 1% 2%;
 padding: 1% 3% 2%;
 width: 92%;
}
#blog {
 margin: 0;
 min-height: 360px;
}
.form_layout .submit {
 cursor: pointer;
 background-color: transparent;
 background-image: url("images/play_now.png");
 background-position: left top;
 background-repeat: no-repeat;
 border: medium none;
 height: 40px;
 width: 100%;
 background-size: contain;
}
.promotions {
 background-size: inherit;
 margin: 10px 0 13px;
 padding: 10px;
 background-image: url("images/line1.png");
 background-position: center bottom;
 background-repeat: no-repeat;
}
.about_text {
color: #000000;
 font-size: 12px;
 line-height: normal;
 min-height: initial;
}
#help {
 background-color: #f7a904;
 padding: 1% 4%;
 width: 90%;
}
.logo {
 float: none;
 margin: 0;
 padding: 14px 0;
 text-align: center;
}
.header_right_top {
 float: none;
 margin: 20px auto 0px;
 text-align: center;
 padding: 0 0 20px;
}
 #top {
 background-color: #f9f9f9;
 background-image: none;
}
.top {
 display: block;
 float: left;
 margin: auto;
 width: 100%;
}
.container ul li:nth-child(4) {
/*display:none;*/
}
.footer ul li {
 float: left;
 list-style-type: none;
 margin: 0 2% 0 0;
 width: 24%;
 display: none;
}
.footer ul li:nth-child(4) {
 color: #fff;
 width: 96%;
 text-align: center;
display: block;
}
.footer ul li strong {
 font-size: 24px;
 color: #eaeaea;
 text-transform: uppercase;
}
.footer ul li:nth-child(4) p {
 color: #777777;
 font-size: 17px;
 line-height: 21px;
}
.newsletters_input {
 background-color: transparent;
 border: 1px solid #929292;
 border-radius: 6px;
 color: #fff;
 height: 40px;
 padding: 0 5%;
 margin: 10px 0 20px;
 width: 90%;
}
.newsletters_submit {
 background-color: #f7a904;
 background-image: url("images/submit.png");
 background-position: center center;
 background-repeat: no-repeat;
 border: medium none;
 cursor: pointer;
 height: 40px;
 width: 100%;
}
.banner_bg {
text-align:center;
 width: 90%;
 padding: 30% 5% 10%;
 background-image: url(images/banner.jpg);
 background-repeat: no-repeat;
 background-position: center center;
}
 .banner h1 {
 font-size:33px;
}
.banner h2 {
 font-size: 20px;
}
.get {
 font-size: 16px;
}
.top_img {
 float: none;
margin:0px auto;
 display: block;
 text-align: center;
}
.top_img img {
 height: inherit;
}
.top_review {
 float: none;
 margin: 0 auto;
 text-align: center;
}
.top_review a {
 display: block;
}
.stars {
 float: none;
 display: block;
}
.play_now {
 float: none;
 display: block;
 text-align: center;
 margin: 10px auto;
}
.banner_bg {

}
.spacer_top {
display:none;
}
.mobile_header {
 display:block;
}
.web {
display:none;
}
 .mobile_header .logo {
 margin: 0;
 padding: 14px 0;
 text-align: left;
 display: inline-block;
 float: left;
}
.mobile_header .header_right_top {
 float: left;
 margin: 20px auto 0px;
 text-align: center;
 padding: 0 0 20px;
 width: 100%;
}
.mobile_header .search_form {
 display: block;
 border: 2px solid #FFFFFF;
 background-color: #000;
 border-radius: 30px;
 height: 16px;
 padding: 5px 10px 13px;
}
 .mobile_header .search_field {
 font-family: 'Oswald-Regular';
 background-color: transparent;
 border: none;
 color: #fff;
 font-size: 16px;
 width: 87%;
}
 .new_left_container, .new_right_container {
float:none;
width:98%;
margin:20px auto;
}
.new_left_container .new_text_container h1 {
text-align:center;
line-height: 46px;
}
.new_left_container .new_text_container h1 img {
text-align:center!important;
display:block;
clear:both;
}
 .newtable a.lot_main_image {
display:block;
text-align:center;
}
.newtable a.lot_main_image img {
margin:0px auto;
}
.newtable .bonus strong {
text-align:right;
}
 table.newtable {
 border: 0;
}
 table.newtable thead {
 display: none;
}
 table.newtable tr {
 display: block;
}
 table.newtable td {
 display: block;
 text-align: right;
 font-size: 13px;
 border-bottom: 1px dotted #ccc;
}
 table.newtable td:last-child {
 border-bottom: 0;
}
 table.newtable td:before {
 content: attr(data-label);
 float: left;
 text-transform: uppercase;
 font-weight: bold;
}
 table.newtable td .rating_circle {
float:right;
margin:0px;
}
 table.newtable td span, table.newtable .bonus strong {
text-align:right;
display:block;
}
 .left_div_new, .right_div_new {
float:none;
width:98%;
margin:0px auto;
display:block;
clear:both;
margin-bottom:20px;
}
.container .new_right_container ul.sidebar_ul li#top {
background-image:none;
}
.container .new_right_container ul.sidebar_ul li#top .top {
margin-top:0px;
}
.new_right_container ul.sidebar_ul li {
margin-bottom:5px;
}

.portfolio-tabs li, .faq-tabs li {
  float: none; 
    background: #ddd;
    padding: 0px  0px!important; 
    margin-right:  0px!important; 
    font-weight: bold;
    border-bottom: 1px solid #000; display:block!important; 
}

.portfolio-tabs li a, .faq-tabs li a{ padding:5px 10px;}
.portfolio-tabs li.active a, .faq-tabs li.active a{ border-top:0px; background:#ff9c00; color:#fff; padding:5px 10px;}


}
 @media only screen and (min-width: 220px) and (max-width: 450px) {
 .new_left_container, .new_right_container {
float:none;
width:98%;
margin:20px auto;
}

.portfolio-tabs li, .faq-tabs li {
   float: none; 
    background: #ddd;
    padding: 0px  0px!important; 
    margin-right:  0px!important; 
    font-weight: bold;
    border-bottom: 1px solid #000; display:block!important; 
}
.portfolio-tabs li a, .faq-tabs li a{ padding:5px 10px;}

.portfolio-tabs li.active a, .faq-tabs li.active a{ border-top:0px; background:#ff9c00; color:#fff; padding:5px 10px;}
}
