/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
.flexslider1 {
	margin: 0;
	padding: 0;
}
.flexslider1 .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider1 .slides img {
	display: block;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
 html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0 0 0px;
	position: relative;
	zoom: 1;
	width:100%;
	overflow:hidden;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px
}
/* FlexSlider Necessary Styles
*********************************/ 

.flexslider1 {
	zoom: 1;
	overflow: hidden;
	position:relative;
 }
 .flexslider1 {
	margin: 0;
	padding: 0;
}
.flexslider1 .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider1 .slides img {
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider1 {
	zoom: 1;
	overflow:hidden;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider1 .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px
}
.flexslider1 {
	margin: 0 0 0px;
	zoom: 1;
	width:100%;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider1 .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px
}
/* Direction Nav */
.flexslider .flex-direction-nav a {
	width: 30px;
	height:58px;
	margin: 0px 0 0;
	display: block;
	background: url(../images/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
-webkit-transition: all .3s ease;
}
.flexslider .flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: -36px;
}
.flexslider .flex-direction-nav .flex-prev {
	left: -36px;
}
.flexslider:hover .flex-next {
	opacity: 0.8;
	right: 5px;
}
.flexslider:hover .flex-prev {
	opacity: 0.8;
	left: 5px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .disabled {
	opacity: .3!important;
	filter:alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.flex-control-nav {
	width: 99%;
	position: absolute;
	bottom: 15px;
	text-align: left;
}
.flex-control-nav li {
	margin: 0 3px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a { 
background-color:#3c3c3e;
	width: 12px;
	height: 12px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
 	cursor: pointer;
}
.flex-control-paging li a:hover {
	 background-color:#386aab;
  }
.flex-control-paging li a.flex-active {
	  background-color:#386aab;
	
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .active {
	opacity: 1;
	cursor: default;
}
/* Browser Resets */
.flex-container a:active, .flexslider1 a:active, .flex-container a:focus, .flexslider1 a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav, .flexslider1 .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	  text-align: right;
  color: transparent;
}
.slide_right {
	float: right;
 }
.slide_left {
  float: left;
  width: 96%;
  padding: 5px 2% 0px 2%;
  background-color: #fff;
}
.slide_left p {
	font-size: 14px;
 	color: #fff;
	font-weight: 300;
	margin:20px 0px 20px;
	line-height:24px;
 }
.slide_left h3 { text-transform:uppercase;
	color: #191c25;
	font-size: 76px;
	font-weight: 400;
 	margin:15px 0px 0px;
}
.slide_left h3 span{
	color: #f8981d;
	font-size: 54px;
	display:block;
	margin:5px 0 15px;
	font-weight: 400;
	}
.flexslider .slides .slide_left img{
	width:auto;
	display:block;
	}
	
	/* Direction Nav */
.flexslider1 .flex-direction-nav a {
	width: 25px;
	height: 25px;
	margin: -00px 0 0;
	display: block;
	position: absolute;
	top: 8px;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 1;
-webkit-transition: all .3s ease;
	background-image: url(../images/bg_direction_nav.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	color:transparent;
}
.flexslider1 .flex-direction-nav .flex-next {
	background-position: 100% 0;
	right:10px;
}
.flexslider1 .flex-direction-nav .flex-prev {
	right: 40px;
}
.flexslider1 .flexslider:hover .flex-next {
	opacity: 1;
}
.flexslider1 .flexslider:hover .flex-prev {
	opacity: 1;
}
.flexslider1 .flexslider:hover .flex-next:hover, .flexslider1 .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flexslider1 .flex-direction-nav .disabled {
	opacity: .3!important;
	filter:alpha(opacity=30);
	cursor: default;
}


.flexslider1 .flex-direction-nav li { list-style-type: none; }
 @media only screen and (min-width: 981px) and (max-width:1100px) {
 .slide_right {
float: right;
width: 50%;
}
.flexslider1 .flex-direction-nav .flex-prev {
right: 40px;
}
.flexslider1 .slides img {
display: block;
margin: 11px auto;
padding: 0 0 11px;
}

}
 @media only screen and (min-width: 768px) and (max-width: 981px) {
 .slide_right {
float: right;
width: 50%;
}
.flex-control-nav {
width: 100%;
position: relative;
bottom: 15px;
text-align: left;
margin-top: 30px;
}
.flexslider1 .flex-direction-nav .flex-prev {
right: 40px;
}
.flexslider1 .slides img {
display: block;
margin: 11px auto;
padding: 0 4% 11px;
width: 92%;
}
}
 @media screen and (max-width: 768px) {
 .slide_right {
float: none;
width: 100%;
border-bottom:1px solid #132d70;
padding:1px 0px 15px;
} 
.slide_left {
	float: none;
width: 96%;
	padding: 0px 2% 5%;
}
.slide_left h3 {
 font-size: 31px;
 margin: 5px 0px 0px;
}
 .slide_left h3 span {
 font-size: 18px;
 margin-top: 0px;
 }
 .slide_left p {
font-size: 13px;
color: #fff;
font-weight: 300;
margin: 10px 0px 10px;
line-height: 22px;
}
.flexslider .slides img {
width: auto;
display: block;
text-align: center;
margin: 0px auto;
}
.flex-control-nav {
width: 100%;
position: relative;
bottom: 10px;
text-align: center;
margin-top: 30px;
}
.flexslider1 .flex-direction-nav .flex-prev {
right: 40px;
}
.flexslider1 .slides img {
display: block;
margin: 11px auto;
padding: 0 4% 11px;
width: inherit;
}
}
 
 @media screen and (max-width: 640px) {
 
}
 @media screen and (max-width: 480px) {
 
}
