.nav, .nav ul, .nav ul li, /*.nav ul li a,*/ .nav #menu-button {
	padding: 0;
	border: 0;
	list-style: none;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav #menu-button {
	display: none;
}


.nav_bg {
	position: absolute;
	background-color:#ccc;
	background-repeat: repeat-x;
	background-position: left top;
	margin: auto;
/*	height: 44px;
*/	width: 100%;
}


.nav {
	width:960px;
margin: auto;font-family:'Oswald-Regular';
}
 
.nav > ul {
	/* background:#f38025;
  box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.09);*/
   display:block;
}
.nav.align-right > ul > li {
	float: right;
}
.nav > ul > li {
	display: inline-block;
	float: none;
	font-size: 16px;
	font-weight: normal;
	position: relative;
	text-transform: uppercase; padding:4px;
}
 .nav > ul > li > a {
	color: #04030a;
    font-size: 15px;
    margin: 0;
    padding:  6px  10px;	display: block;
    text-decoration: none;
}
.nav > ul > li:hover > a, .nav > ul > li > a:hover, .nav > ul > li.active > a {
	color: #fff;
	background:#000;
	text-decoration: none;
}
.nav > ul > li > a.active {
	color: #fff;
	background:#000;
	text-decoration: none;
}
.nav > ul > li.has-sub > a {
}
.nav > ul > li.has-sub:hover {
	border-top-color: #000!important;
}
.nav > ul > li.has-sub.active, .nav > ul > li.has-sub:hover > a {
	border-top-color: #000!important;
}
.nav ul ul {
	position: absolute;
	left: -9999px;
	top: 0px;
	padding-top: 0px;
	font-weight:400;
	opacity: 0;
	background-color:#000;
	z-index:9999;
	padding:0px 0px 0px 0px !important;
	-webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
	-moz-transition: top 0.2s ease, opacity 0.2s ease-in;
	-ms-transition: top 0.2s ease, opacity 0.2s ease-in;
	-o-transition: top 0.2s ease, opacity 0.2s ease-in;
	transition: top 0.2s ease, opacity 0.2s ease-in;
	z-index:100;
	text-align:left; margin:0px!important;margin-left:4px!important;  
}
.nav.align-right ul ul {
	text-align: right;
}
.nav > ul > li > ul {
	top: -2px;
	z-index: 20;
}
.nav > ul > li:hover > ul {
	top:40px;
	left: 0;
	opacity: 1;
	z-index: 20; 
}
.nav.align-right > ul > li:hover > ul {
	left: auto;
	right: 0;
}
.nav ul ul ul {
	padding-top: 0;
	padding-left: 6px;
}
.nav.align-right ul ul ul {
	padding-right: 6px;
}
.nav ul ul > li:hover > ul {
	left: 180px;
	top: 0;
	opacity: 1;
}
.nav.align-right ul ul > li:hover > ul {
	left: auto;
	right: 100%;
	opacity: 1;
}
.nav ul ul li {
	background-image:none!important;
	width:225px;
	color:#fff;
	list-style-type: none;
	padding:0px 10px  0px 16px !important;
	border-bottom:1px solid #333;
}
.nav ul ul li:last-child {
	border:none;
}
.nav ul ul li a {
	color: #fff;
	display: block;
	padding:8px 0 !important;
}
.nav ul ul li:hover {
 
}
.nav ul ul li a:hover {
		color:#ff9c00;
}
.nav ul ul li:hover > a, .nav ul ul li.active > a {
	color: #ff9c00;
}
.nav ul ul li:first-child > a {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.nav ul ul li:last-child > a {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.nav > ul > li > ul::after {
 position: absolute;
 display: block;
}
.nav ul ul li.has-sub > a::after {
 content: "";
 position: absolute;
 width: 0;
 height: 0;
 border: 4px solid transparent;
 border-left-color: #777777;
 right: 17px;
 top: 14px;
}
.nav.align-right ul ul li.has-sub > a::after {
 border-left-color: transparent;
 border-right-color: #777777;
 right: auto;
 left: 17px;
}
.nav ul ul li.has-sub.active > a::after, .nav ul ul li.has-sub:hover > a::after {
 border-left-color: #333333;
}
.nav.align-right ul ul li.has-sub.active > a::after, .nav.align-right ul ul li.has-sub:hover > a::after {
 border-right-color: #333333;
 border-left-color: transparent;
}
 @media only screen and (min-width: 981px) and (max-width:1100px) {
.nav {
 padding:0;
 }
.nav_icons {
float:right;
padding:4px 0px;
text-align:right;
}
}
 @media only screen and (min-width: 768px) and (max-width: 981px) {
.nav { width:100%;
 }
.nav ul li {
 font-size: 13px;
}
 .nav > ul > li > a {
 padding:10px 5px!important; font-size: 13px;
}
}
 @media all and (max-width:768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
 .nav {
width: 100%;
margin:0px 0px 0px 0px;
padding: 0px;
float:none;
}
 .nav {
 width:100%;
  }
 .nav > ul {
 display: none; margin-top:60px;
}
 .nav > ul.open {
 display: block;
 border-top: 1px solid #333;
 background-color:#000;
 z-index: 10;
}
 .nav.align-right > ul {
 float: none;
}
 .nav.align-center > ul {
 text-align: left;
}
 .nav > ul > li, .nav.align-right > ul > li {
 float: none;
 display: block;
}
 .nav ul ul {
 padding: 0px 0px 0px 0px !important;
}
 .nav > ul > li {
 background:none;
 padding: 0px 0px;
}
 .nav > ul > li > a {
 padding:8px 10px;
 text-decoration: none;
 color:#fff;
text-align:left;
 text-transform: uppercase;
 margin:0px 0px 0px;
 border-radius: 0px;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px;
 -o-border-radius: 0px;
 -khtml-border-radius:0px;
border-bottom:1px solid #333;
}
 .nav > ul > li.has-sub > a {
margin-right: 0px;
padding-right: 0px;
}
 .nav > ul > li.active > a {
 background: #000;
}
 .nav #menu-button {
 display:block;  
 text-decoration: none;
 font-size: 16px;
 color: #fff;
 padding:10px 20px;
 text-transform: uppercase;  
 cursor: pointer;
 text-align: left;
 font-weight: 400;  
 }
 .nav ul ul, .nav ul li:hover > ul, .nav > ul > li > ul, .nav ul ul ul, .nav ul ul li:hover > ul, .nav.align-right ul ul, .nav.align-right ul li:hover > ul, .nav.align-right > ul > li > ul, .nav.align-right ul ul ul, .nav.align-right ul ul li:hover > ul {
 left: 0;
 right: auto;
 top: auto;
 opacity: 1;
 width: 100%;
 padding: 0;
 position: relative;
 text-align: left;
 background:none;
}
 .nav ul ul li {
 width: 100%;
 padding:  0px 0px !important;
}
 .nav ul ul li a {
 width: 100%;
 box-shadow: none;
 padding: 10px 0px 10px 35px!important;
 background: transparent;
 color: #fff;
 background-image: url(../images/bullet.png);
 background-repeat: no-repeat;
 background-position: 30px 18px;
}
 .nav ul ul li a:hover {
color: #ff9c00;
}
 .nav ul ul ul li a {
 padding-left: 45px;
}
 .nav ul ul li:first-child > a, .nav ul ul li:last-child > a {
 border-radius: 0;
}
 .nav #menu-button::after {
 display: block;
 content: '';
 position: absolute;
 height: 3px;
 width: 22px;
 border-top: 2px solid #fff;
 border-bottom: 2px solid #fff;
 right: 25px;
 top: 18px;
}
 .nav #menu-button::before {
 display: block;
 content: '';
 position: absolute;
 height: 3px;
 width: 22px;
 border-top: 2px solid #fff;
 right: 25px;
 top: 28px;
}
 .nav > ul > li.has-sub > a::after, .nav ul ul li.has-sub > a::after {
 display: none;
}
 .nav > ul > li > ul::after {
 display: none;
}
 .nav > ul > li:hover > a, .nav > ul > li > a:hover, .nav > ul > li.active > a {
 color: #ff9c00;
/* background-color:#ff9c00;
*/}
.nav ul ul li:last-child {
padding-top:0px!important;
padding-bottom:0px!important;
}
.nav ul ul li:last-child > a {
border-bottom:1px solid #333;
 display:block;
}
}
@media only screen and (max-width: 450px) and (min-width: 220px){ 


 
}