 @import url("../Avada/Avada/style.css");
 @font-face {
font-family:'Oswald-Regular';
src: url('fonts/Oswald-Regular.ttf');
}
@font-face {
font-family:'Oswald-Medium';
src: url('fonts/Oswald-Medium.ttf');
}
@font-face {
font-family:'Oswald-DemiBold';
src: url('fonts/Oswald-DemiBold.ttf');
}
@font-face {
font-family:'Oswald-MediumItalic';
src: url('fonts/Oswald-MediumItalic.ttf');
}
@font-face {
font-family:'Oswald-Light';
src: url('fonts/Oswald-Light.ttf');
}
@font-face {
font-family:'Oswald-HeavyItalic';
src: url('fonts/Oswald-HeavyItalic.ttf');
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #464646;
	font-size:13px;
	background-color: #fff;
}
* {
	margin: 0;
	padding: 0;
	outline:none;
}
html {
	overflow-x: hidden;
}
img {
	vertical-align: sub;
	border:none;
	-ms-interpolation-mode:bicubic;
	height: auto;
	max-width: 100%;
	outline:none;
}
ul li {
	list-style-type:square;
	color: #5b5b5b;
}
.clear {
	clear:both;
}
a {
	color: #00539e;
	text-decoration:none;
-webkit-transition:color .3s ease-in-out;
-moz-transition:color .3s ease-in-out;
-o-transition:color .3s ease-in-out;
transition:color .3s ease-in-out
}
a:hover {
	color: #000;
 -webkit-transition:color .3s ease-in-out;
-moz-transition:color .3s ease-in-out;
-o-transition:color .3s ease-in-out;
transition:color .3s ease-in-out;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	color: #4a4a4a;
	font-weight: 400;
}
strong {
	font-weight: 600;
	color: #00539e;
}
p {
	font-weight: 400;
	font-size:14px;
	margin:10px 0px;
	color:#000;
}
h1 {
	color: #11a9e8;
	font-size:30px;
}
h2 {
	font-size:20px;
}
.header_bg {
	background-color:#000000;
	margin: auto;
	width: 100%;
	padding: 0 0 0px;
}
.header {
	width:960px;
	margin: auto;
}
.logo {
	float: left;
	margin: 16px 0 12px;
}
.header_right_top {
	float:right;
	margin: 20px 0px 0;
}
.header_right_top ul {
	display: inline-block;
}
.header_right_top ul li {
	display: inline-block;
	font-size: 16px;
	margin: 0 20px 0 0;
}
.header_right_top ul li a {
	font-family:'Oswald-Regular';
	color: #fff;
}
.header_right_top ul li a:hover {
}
.search_form {
	display: inline-block;
	border: 2px solid #FFFFFF;
	background-color: #000;
	border-radius: 30px;
	height: 16px;
	padding: 5px 10px 13px;
}
.search_field {
	font-family:'Oswald-Regular';
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 16px;
}
.search_submit {
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border: none;
	color: transparent;
	height: 19px;
	width: 19px;
	margin:  0px 4px 0 0;
	cursor: pointer;
}
/*.banner_bg {
	margin: auto;
	width: 100%;
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 66px 0 77px;
}*/

.banner_bg {
	margin: auto;
	width: 100%;
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 106px 0 77px;
	background-color: #000;
}
.banner {
	width:960px;
	margin: auto;
}
.banner h1 {
	font-family:'Oswald-HeavyItalic';
	font-size:83px;
	font-weight:400;
	color:#fff;
	text-transform:uppercase;
}
.banner h2 {
	font-family: 'Oswald-HeavyItalic';
	font-size: 38px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	margin: 0px 0 0;
	display: block;
	float: left;
	width: 100%;
}
.get {
	font-family: 'Oswald-HeavyItalic';
	font-size: 26px;
	color: #282828;
	text-transform: uppercase;
	background-color: #ff9c00;
	float: left;
	border-radius: 5px;
	padding: 6px 43px 6px 13px;
	background-image: url(images/shap.png);
	background-repeat: no-repeat;
	background-position: 97% center;
}
.get a {
	color: #282828;
}
.get a span {
	color:#fff;
}
.lottories_bg {
	margin: auto;
	width: 100%;
	background-color:#fff;
	padding:0px 0px 40px;
border-bottom:: 1px solid #c7c7c7;
}
.lottories {
	width:960px;
	margin: auto;
}
.lottories_img {
	display: block;
	text-align: center;
	margin: auto;
}
.lottories ul {
}
.lottories ul li {
	background-image: url(images/line.png);
	background-repeat: no-repeat;
	background-position: left 44px;
	list-style-type: none;
	float: left;
	width: 16%;
	margin: -44px 0 0;
	line-height: 30px;
}
.lottories ul li:first-child {
	background-image:none;
}
.play {
	display: block;
	text-align: center;
	margin: auto;
}
.lottories ul li strong.euro {
	color: #323232;
	font-size: 16px;
}
.lottories ul li strong {
	font-weight:normal;
	font-family:'Oswald-Medium';
	display: block;
	text-align: center;
	margin: auto;
	font-size: 18px;
	color: #ff9c00;
}
.lottories ul li span {
	color: #323232;
	font-size: 12px;
	display: block;
	text-align: center;
	margin: auto;
}
.container_bg {
	border-top: 1px solid #d6d6d6;
	background-color: #dfdfdf;
	margin: auto;
	padding: 40px 0 10px;
	width: 100%;
}
.container {
	width:960px;
	margin: auto;
}
.container ul.containerul, .container ul.sidebar_ul {
	display:block;
	margin:auto;
}
.container ul.containerul li, .container ul.sidebar_ul li {
	background-color: #fff;
	box-shadow: 0 2px 2px #d6d6d6;
	display: inline-block;
	float: left;
	margin: 0 1% 2%;
	padding: 1% 2% 2%;
	width: 27%;
}
.container ul.containerul li .results, .container ul.sidebar_ul li .results {
	font-family:'Oswald-MediumItalic';
	font-size:22px;
	color:#333333;
}
.container ul.containerul li .results h2, .container ul.sidebar_ul li .results h2 {
	font-family:'Oswald-MediumItalic';
	font-size:22px;
	color:#333333;
}
.results img {
	vertical-align:middle
}
.container ul.containerul li .l_results, .container ul.sidebar_ul li .l_results {
	z-index:0;
}
.container ul.containerul li .l_results li, .container ul.sidebar_ul li .l_results li {
	box-shadow: 0 0 0 #d6d6d6;
	margin: 11px 0 0;
	padding: 0;
	width: 100%;
}
.container ul.containerul li .l_results li .date, .container ul.sidebar_ul li .l_results li .date {
	background-color: #383838;
	border-radius: 5px;
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	padding: 5px 6px;
	text-align: center;
}
.container ul.containerul li .l_results li .date strong, .container ul.sidebar_ul li .l_results li .date strong {
	color: #fff;
	display: block;
	font-size: 26px;
}
.container ul.containerul li .l_results li .ball, .container ul.sidebar_ul li .l_results li .ball {
	float: left;
	margin: 0 0 0 10px;
}
.container ul.containerul li .l_results li .ball strong, .container ul.sidebar_ul li .l_results li .ball strong {
	color: #888888;
	display: block;
	font-family: "Oswald-MediumItalic";
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
}
.container ul.containerul li .l_results li .ball .num, .container ul.sidebar_ul li .l_results li .ball .num {
	background-color: #959595;
	border-radius: 27px;
	color: #fff;
	float: left;
	font-family: "Oswald-DemiBold";
	font-size: 11px;
	font-weight: 400;
	margin: 0 1px;
	padding: 3px 0;
	text-align: center;
	width: 27px;
}
.container ul.containerul li .l_results li .ball .num-bonus, .container ul.sidebar_ul li .l_results li .ball .num-bonus {
	background-color: orange;
	border-radius: 27px;
	color: #fff;
	float: left;
	font-family: "Oswald-DemiBold";
	font-size: 11px;
	font-weight: 400;
	margin: 0 1px;
	padding: 3px 0;
	text-align: center;
	width: 27px;
}
.promotions {
	background-image: url("images/promotions_bg.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 10px 0 13px;
	padding: 10px;
}
.promotions_img {
	background-image: url("images/line2.png");
	background-position: right center;
	background-repeat: no-repeat;
	float: left;
	margin: 0 11px 0 0;
	padding: 0 10px 0 5px;
	text-align: center;
}
.promotions_booking {
	color: #161616;
	font-size: 18px;
}
.promotions_booking strong {
	color: #ff2828;
	display: block;
	font-size: 14px;
}
.promotions p {
	color: #000;
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
	margin: 0;
}
.promotions .get_b {
	float:left;
	margin: 10px 0;
}
.promotions .review {
	float: right;
	margin: 16px 0;
	width:auto;
}
.all_review {
	color: #427bd2;
	display: block;
	font-size: 14px;
	margin: 13px 0;
}
#top {
	background-color:#f9f9f9;
	background-image: url(images/top_bg.jpg);
	background-repeat:   repeat-x;
	background-position: left top;
}
.top {
	display: block;
	float: left;
	margin: 60px 0 0;
	width: 100%;
}
.top li {
	background-color: #f9f9f9 !important;
	background-image: url("images/line1.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	box-shadow: 0 0 0 #d6d6d6 !important;
	margin: 9px 0 2px !important;
	padding: 0 0 15px !important;
	width: 100% !important;
}
.top_img {
	float: left; width:30%; text-align:center;
}
.top_img img {
	max-width:75px;
	max-height:48px;
}
.top_review {
	float: left;
	margin:0 2% 0px 1%; width:32%; text-align:center;
}
.top_review a {
	display:block;
	color: #00539e!important;
}
.top_review a:hover {
	color: #333!important;
}
.stars {
	float: left;
}
.stars img {
}
.play_now {
	float: right;
	height: 25px;
	width: 86px;
}
.about_pic {
	margin:10px auto;
	text-align:center;
	display:block;
}
.about_text {
	color:#000000;
	font-size:12px;
	line-height:normal;
}
.about_text p {
	margin: 11px 0px;
}
#blog {
	margin:0;
}
#blog p {
	color:#000000;
	font-size:12px;
	line-height:normal;
}
#blog li {
	background-color: #fff !important;
}
.read_more {
	color: #427bd2;
	display: block;
	font-size: 12px;
	margin: 0 0 3px;
	text-align: right;
}
#help {
	background-color: #f7a904;
	padding: 1% 0 6px;
	width: 31%;
}
#help .results {
	background-color: #f7a904;
	font-size: 24px;
	padding: 0 2%;
	text-shadow: 0 1px 0 #fcdea0;
}
.form_layout {
	background-color: #121212;
	margin: 10px 5px 0;
	padding: 5px 10px;
}
.form_layout p {
	font-family:Oswald-Light;
	float: left;
	margin: 5px 0;
	width: 100%;
	font-style: italic;
}
.form_layout label {
	color: #fff;
	float: left;
	font-size: 11px;
	margin: 3px 10px 0 0;
}
.form_layout .select {
	color: #000;
	float: right;
	font-size: 12px;
	height: 24px;
	width: 40%;
}
.form_layout .input {
	border: 1px solid #555555;
	height: 31px;
	width: 96%;
	padding: 0 2%;
}
.form_layout .checkbox {
	margin: 6px 4px 0 0;
	float: right;
}
.form_layout span {
	float: right;
	margin: 4px 0px 0 0;
	color: #fff;
	font-size: 12px;
}
.form_layout .submit {
	cursor:pointer;
	background-color: transparent;
	background-image: url("images/play_now.png");
	background-position: left top;
	background-repeat: no-repeat;
	border: medium none;
	height: 40px;
	width: 271px;
}
.offer {
	font-size: 17px !important;
	margin: 0 0!important;
}
.input1 {
	float: right;
	margin: 4px 0;
	border: 1px solid #555555;
	width: 19px;
}
.input2 {
	float: right;
	margin: 4px 0;
	background-color:#f7a904;
	width: 20px;
	border: 1px solid #555555;
}
.container_botm {
	text-align:center;
	padding:20px 0px 0;
	width:960px;
	margin: auto;
}
.container_botm h1 {
	font-family:'Oswald-HeavyItalic';
	color:#262626;
	font-size:48px;
	text-transform:uppercase;
	margin:20px 0px;
}
.container_botm p {
}
.icons {
	margin: 15px 0;
}
.icons a {
	margin: 0 5px;
}
.footer_bg {
	background-color: #1b1b1b;
	margin: auto;
	padding: 45px 0 25px;
	width: 100%;
}
.footer {
	margin: auto;
	width: 960px;
}
.footer ul {
	width: 100%;
}
.footer ul li {
	float: left;
	list-style-type: none;
	margin: 0 2% 0 0;
	width: 14%;
}
.footer ul li a {
	color: #2c7ad8;
	display: block;
	font-size: 14px;
	margin: 9px 0 0;
}
.footer ul li a:hover {
	color:#fff;
}
.footer ul li strong {
	font-size:14px;
	color:#eaeaea;
	text-transform:uppercase;
}
.newsletters {
}
.newsletters_input {
	background-color: transparent;
	border: 1px solid #929292;
	border-radius: 6px;
	color: #fff;
	height: 30px;
	padding: 0 5%;
	margin:10px 0 20px;
	width: 90%;
}
.newsletters_submit {
	background-color: transparent;
	background-image: url("images/submit.png");
	background-position: left top;
	background-repeat: no-repeat;
	border: medium none;
	cursor: pointer;
	height: 30px;
	width: 94px;
}
.footer ul li:nth-child(1) {
text-align:left;
}
.footer ul li:nth-child(2) {
text-align:left;
}
.footer ul li:nth-child(3) {
 width: 28%;
text-align:left;
}
.footer ul li:nth-child(3) a {
text-decoration:underline;
 margin: 3px 0 0;
text-align:left;
}
 .footer ul li:nth-child(4) {
 color: #fff;
 width: 36%;
text-align:left;
}
 .footer ul li:nth-child(4) p {
 color: #777777;
 font-size: 12px;
 line-height: 21px;
text-align:left;
}
.copyrights {
	border-top: 2px solid #191919;
	display: block;
	margin: 40px 0 0;
	padding: 0;
	text-align: center;
}
.copyrights p {
	color: #777777;
	font-size: 12px;
}
.copyrights a {
	color: #777777;
	font-size: 12px;
}
.mobile_header {
	display:none;
}
.mc4wp-form input[type=email] {
	background:transparent!important;
	background-color: transparent;
	border: 1px solid #929292;
	border-radius: 6px!important;
	color: #fff;
	height: 30px;
	padding: 0 5%;
	margin: 10px 0 20px;
	width: 90%;
}
.mc4wp-form input[type=submit] {
	background-color: transparent!important;
	background-image: url("images/submit.png")!important;
	background-position: left top;
	background-repeat: no-repeat;
	border: medium none;
	cursor: pointer;
	height: 32px!important;
	width: 96px!important;
	display:block!important;
}
.mc4wp-form input[type=email]:hover {
	background:none!important;
}
.applyto3 {
	display:block;
	clear:both;
}
.applyto2 {
	display:none;
}
.form_layout label.error {
	color:#ff0000!important;
}
.web {
	position:fixed;
	width:100%;
	margin:0px auto;
	z-index:1;
}
.spacer_top {
	display:block;
}
/*inner pages*/

.new_left_container {
	float:left;
	width:66%;
}
.new_right_container {
	float:right;
	width:32%;
}
.new_left_container .new_text_container {
	background:#fff;
	padding:0px 20px;
	border:1px solid #ddd;
}
.new_left_container .new_text_container p {
	line-height:24px;
	margin-bottom:30px;
}
.new_left_container .new_text_container h1 {
	font-family:'Oswald-DemiBold';
	margin: 20px 0px;
	font-style: italic;
	font-size: 26px;
	color: #333333;
	line-height: 97px;
	display: block;
	vertical-align: middle;
}
.new_left_container .new_text_container h2 {
	font-family:'Oswald-DemiBold';
	font-style:italic;
	font-size:22px;
	display:block;
	clear:both;
	margin:20px 0px;
	color:#333333;
}
.clear {
	clear:both;
}
.new_right_container ul.sidebar_ul li {
	width:96%;
	padding-left:2%;
	padding-right:2%;
	margin:0px 0px 20px 0px!important;
	float:none;
}
.new_right_container ul.sidebar_ul li#help {
	background-color: #f7a904;
	padding:2%;
	width: 96%;
}
.lottery_table_new_heading {
	background:url(images/grey_title_bg.png) repeat-x!important;
}
table.newtable {
	border: 2px solid #333;
	width: 100%;
	margin:0 0 20px 0;
	padding:0;
	border-collapse: collapse;
	border-spacing: 0;
	background:#fff;
}
table.newtable tr {
	padding: 5px;
}
table.newtable th, table.newtable td {
	padding: 10px;
	text-align: center;
}
table.newtable th {
	background:url(images/seprater.png) no-repeat right center;
	height:65px;
	vertical-align:middle;
	text-align: center;
	font-family:'Oswald-DemiBold';
	font-size:18px;
	text-align:center;
	width:25%;
	color:#fff;
}
table.newtable th:last-child {
	background:none;
}
table.newtable .rating_circle {
	font-size:24px;
}
table.newtable .bonus {
	text-align:left;
	color:#232323;
	font-weight:bold;
}
table.newtable .deposit strong {
	font-size:28px;
	color:#000;
}
table.newtable .bonus strong {
	text-align:left;
	color:#fc2c2c;
	font-weight:bold;
	display:block;
}
table.newtable .rating_circle {
	background: #383838;
	height: 32px;
	text-align: center;
	width: 32px;
	padding: 12px;
	border-radius: 50%;
	color: #fff;
	font-weight: bold;
	margin: auto;
	vertical-align: middle;
}
table.newtable .lot_main_image a {
	border:0px;
}
table.lattery_table_new {
	border: 2px solid #333;
	width: 100%;
	margin:0 0 20px 0;
	padding:0;
	border-collapse: collapse;
	border-spacing: 0;
	background:#fff;
}
table.lattery_table_new tr {
	padding: 5px;
}
table.lattery_table_new tr:nth-child(odd) {
 padding: 5px;
background:#f3f3f3;
}
table.lattery_table_new tr:nth-child(even) {
 padding: 5px;
background:#fff;
}
table.lattery_table_new th, table.lattery_table_new td {
	padding: 10px;
	text-align: center;
}
table.lattery_table_new th {
	background:url(images/seprater.png) no-repeat right center;
	height:65px;
	vertical-align:middle;
	text-align: center;
	font-family:'Oswald-DemiBold';
	font-size:18px;
	text-align:center;
	color:#fff;
}
table.lattery_table_new th:last-child {
	background:none!important;
}
.left_div_new {
	float:left;
	width:48%;
}
.right_div_new {
	float:right;
	width:48%;
}
.map_box {
	background:#fff;
	border:2px solid #f5a605;
	text-align:center;
}
.map_inner {
	margin:10px;
	max-width:100px;
	max-height:150px;
	float:none;
	display:inline-block;
	vertical-align:top;
}
.map_inner img {
	max-height:101px;
	max-width:101px;
}
.map_inner .map_inner_link_title {
	color:#333333;
	text-decoration:underline;
}
.map_box h2 {
	background:url(images/star.png) no-repeat 10px center #f5a605;
	padding:3% 3% 3% 35px;
	font-family:'Oswald-DemiBold';
	font-size:24px;
	font-style:italic;
	text-shadow: 0px 1px #fff;
	text-align:left;
	color:#1d1d1d!important;
	display:block;
	margin-bottom:20px;
}
.map_box h2 strong {
	color:#1d1d1d!important;
}
.container .new_right_container ul li {
}
.container .new_right_container ul.sidebar_ul li .results {
	padding:20px 10px
}
.container .new_right_container ul.sidebar_ul li#top .top {
	display: block;
	float: none;
	margin: 60px auto 0 auto;
	width: 94%;
}
.container .new_right_container ul.sidebar_ul li ol li {
	width:96%;
}
.grey_box {
	padding:20px;
	background:#acacac;
	margin-bottom:20px;
}
.innerdiv_left {
	float:left;
	width:60%;
}
.innerdiv_right {
	float:none;
	width:100%; text-align:center;
}

.innerdiv_right img{ padding:1%; width:45%; max-width:50%; text-align:center;}
.divtop {
	margin:20px 0px;
}
.container strong {
	color:#333!important;
}
/*tab classes*/
.three_boxes .box_title {
	border-radius:0px;
}
.container .main_tab_holder {
	width:100%;
}
.shortcode-tabs .tab-hold ul.tabset {
	background:url(images/grey_title_bg.png) repeat-x!important;
}
.shortcode-tabs .tab-hold .tabs li {
	list-style:none;
}
.shortcode-tabs .tab-hold .tabs li a {
	background:  url(images/seprater.png) no-repeat right center;
	vertical-align:middle;
	text-align: center;
	font-family:'Oswald-DemiBold';
	color:#fff!important;
	font-size:18px;
	text-align:center;
	border-radius:0px;
	display:block;
	padding:10px 20px;
	font-style:italic;
}
.tab-holder .tabs {
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
.tab-holder .tabs li {
	margin:0;
	padding:0;
	float:left;
}
.tab-holder .tabs li a {
}
.tab-holder .tabs li:last-child {
}
.tab-holder .tabs li:last-child a {
}
.tab-holder .tabs li.active a {
	color:#aaa!important;
}
.tab-holder .tabs li img {
	margin-top:9px;
}
.tab-holder .news-list {
	list-style:none;
	margin:0;
	padding:0;
}
.tab-holder .news-list li {
	border-bottom:1px solid #e2e2e2;
	padding:20px 15px !important;
	overflow:hidden;
}
.tab-holder .news-list li a {
	background:none !important;
	padding:0 !important;
}
.tab-holder .news-list li:last-child {
	border-bottom:0;
}
.tab-holder .news-list .post-holder a, #slidingbar-area .tab-holder .news-list .post-holder a {
	margin:0;
	padding:0;
	overflow:hidden;
	background:none !important;
	border:0 !important;
	text-indent:0 !important;
	height:auto !important;
	line-height:normal !important;
}
.tab-holder .news-list li .image {
	float:left;
	margin-right:13px;
}
.tab-holder .news-list li .post-holder {
}
.tab-holder .news-list li .post-holder a {
	color:#444444;
	font-size:13px !important;
	line-height:17px !important;
}
.tab-holder .news-list li .post-holder p {
	margin:0;
	margin-bottom:5px;
}
.tab-holder .news-list li .post-holder .meta {
	margin:0;
	margin-top:2px;
	font-size:12px !important;
	color:#747474 !important;
}
.tab-holder .news-list li .post-holder .meta em {
	font-style:normal !important;
	font-size:12px !important;
	color:#747474 !important;
}
.tab-holder .news-list li .post-holder .comment-text-side {
	line-height:16px !important;
}
.tabs-container {
	border:2px solid #333;
	background:#fff;
}
div#tabs-1 {
	width:100%;
	margin-bottom:0px;
}
.border_radius {
	border:2px solid #333;
	margin-bottom:20px;
	background:#fff;
}
.box_title {
	display:block;
	background:url(images/grey_title_bg.png) repeat-x!important;
	text-align: left;
	font-family: 'Oswald-MediumItalic';
	font-size: 22px;
	color: #fff;
	text-align:center;
	border-radius:0px;
	display:block;
	padding:10px 10px;
}
.tabvideo {
	width:100%;
	height:516px;
}
.inside_box {
	text-align:left;
}
table.lot_table td {
	padding:10px;
	text-align:left;
	vertical-align:top;
}
.container ul.containerul li .l_results li .date strong, .container ul.sidebar_ul li .l_results li .date strong{ color:#fff;}

table.newtable_big th {
    background: url(images/seprater.png) no-repeat right center;
     height: auto; 
    vertical-align: middle;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    font-weight: normal!important;
     color: #fff;
}

 table.newtable_big td,  table.newtable_big th { width:auto; padding:10px 7px!important;
}

 table.newtable_big td a{ color:#333;}
 
 .newbox{ background:#fff; padding:10px;}
 
  .newbox-inner{ display:block; clear:both;  background:  url("images/line1.png") no-repeat center bottom; padding-bottom:20px;  }